extends layout 
block content   
    header.card-header  
    //- script(src='js/validation')
    h.4card-title Register Agricultural Officer 
    form(action='/register' id='regForm' name='register' method='POST')
        div.form-row 
            div.col.form-group 
                label Full Name 
                    input.form-control#fname(name='fullname')
            div.col.form-group 
                label Email 
                    input.form-control#email(name='email')
            div.col.form-group 
                label Unique Number  
                    input.form-control#uniquenumber(name='uniquenumber')
            div.form.row 
                div.col.form-group 
                    label.form-check.form-check-inline 
                        input.form-check.form-check-input#female(type="radio" name='female' value='female') 
                        span.form-check-label Female 
                    label.form-check.form-check-inline 
                        input.form-check-input#male(type="radio" name='male' value='male') 
                        span.form-check-label Male 
                div.col.form-group 
                    label.form-check.form-check-inline 
                        input.form-check-input#password(type="password" name='password' value='password') 
                        span.form-check-label Password 
                div.col.form-group 
                    label Role 
                        select.form-control(name='role')
                            option(value='(Select a Role)') (Select a Role)
                            option(value='AgriOficer') AgricOfficer 
        Register 
            div.form-row 
                    div.col.form-group 
                        button.btn.btn-primary.btn-block#submit(value='Submit') Submit
            div.form-row 
                div.col.form-group 
                    a(class='button', href='/login') Login
    block Footer    
        div.col-md-12 &copy; 2022 Refactory Cohort 12, NodeJS by Irene.



                
