extends layout 
block content
        form(action="/logout", method="POST")     
          .row
            button.button(name='submit', type='submit') Logout
          
        h1.centered UFARM Landing Page
        hr
