doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title AORegistrationForm | UFARM
    link(rel='stylesheet', href='/css/style.css')
  body
    .form-container
      form#registrationForm(name='registrationForm', action='/register', method='POST')
        h1 Agricultural Officer Registration Form
        hr
        br
        fieldset.fieldset
          legend Personal Details
          .fields
            label(for='firstname') First Name:
            input#firstname.input-field(autocomplete='off', type='text', name='firstname', placeholder='Enter first name')

          .fields
            label(for='lastname') Second Name:
            input#lastname.input-field(autocomplete='off', type='text', name='lastname', placeholder='Enter second name')

          .fields             
            label(for='gender') Gender:
            input#gender.input-field(autocomplete='off', type='text', placeholder='Enter your gender', name='gender')

          .fields
            label(for='maritalStatus') Marital Status:
            input#mStatus.input-field(autocomplete='off', type='text', placeholder='Enter your marital status', name='mStatus')

          .fields
            label(for='dob') D.O.B:
            input#dob.input-field(autocomplete='off', type='text', placeholder='dd/mm/yyyy', name='dob')

          .fields
            label(for='nin') NIN:
            input#nin.input-field(autocomplete='off', type='text', placeholder='Enter your national identity number', name='nin')
        br
        fieldset.fieldset
          legend Contact Details
          .fields
            label(for='telephone') Mobile Number
            |  
            input#telephone.input-field(autocomplete='off', type='numbers', placeholder='+256771234567', name='telephone')
          
          .fields
            label(for='email') Email
            input#email.input-field(type='text', placeholder='Enter Email', name='email')
          
          .fields             
            label(for='address') Address:
            input#address.input-field(autocomplete='off', type='text', placeholder='Enter your Address', name='address')
        |
        br
        fieldset.fieldset
          legend Profile Details
          .fields
            label.bold(for='role') Role:
            input#role.input-field(autocomplete='off', type='text', placeholder='Enter your role', name='role')
          .fields
            label.bold(for='UserId') Unique ID:
            input#UserId.input-field(autocomplete='off', type='text', placeholder='AO-MASAJJA-0001', name='UserId')
          .fields
            label.bold(for='regDate') Registration Date:
            input#regDate.input-field(autocomplete='off', type='text', placeholder='dd/mm/yyyy', name='regDate')
        .row
          input.button(name='submit', type='submit', value='Submit Form', onclick='validateForm()')
    script(src='/js/script.js')